<br/>
<div class="container">

  <div class="jumbotron">
    <h1 class="display-4 text-center">{{title}}</h1>

    <br/>
        <mat-form-field class="example-full-width">
          <input 
          matInput 
          placeholder="Descrição da tarefa" 
          (input)="atualizaTask($event)"
          [value]="task"
          >
        </mat-form-field>
    <br/>
    <div class="text-center">
      <button 
      mat-button
      (click)="adcionaTarefa()"
      >
      Adicionar Tarefa
    </button>
    </div>
    <br/>
    <br/>
    
    <navigation-custom
    [todas]="todas"
    [pendentes]="pendentes"
    [feitas]="feitas"
    ></navigation-custom>

  </div>
  
</div>
